.app-container {
    max-width: 600px;           /* Inputbox will now won't be grow more than 600px. */
    margin-left: auto;
    margin-right: auto;
    height: 100vh;              /* Now it will take full 100% of the webpage. */
    display: flex;
    flex-direction: column;
}