body {
    font-style: arial;
    margin-top: 0px;            /* Be default, .body has 8px in both top & bottom. */
    margin-bottom: 0px;         /* Be default, .body has 8px in both top & bottom. */
}